@page "/create-person"
@inject HttpClient Http
@inject NavigationManager NavManager
@* Verify authorized user *@
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Create person</h3>

<FormPerson OnValidSubmit="CreatePerson" person="@person" />

@code {
    Person person = new Person();

    async Task CreatePerson()
    {
        var result = await Http.PostAsJsonAsync("people", person);

        // Redirect to other page
        NavManager.NavigateTo("/");
    }
}

