@page "/"
@using System.Globalization
@using CsvHelper
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IJSRuntime JS

<AuthorizeView>
    <NotAuthorized>
        <span class="text-danger">User not registered. Please register to Create or modify users</span>
    </NotAuthorized>
</AuthorizeView>

<h3>People </h3>
<AuthorizeView>
    <Authorized>
        <div>
            <a class="btn btn-success" href="create-person">Create person</a>
        </div>
    </Authorized>
</AuthorizeView>

<GenericList List="people">
    <NullTemplate>
        <img src="https://usagif.com/wp-content/uploads/loading-16.gif" alt="Loading">
    </NullTemplate>
    <EmptyTemplate>
        <img src="https://media3.giphy.com/media/jU9OCvBiO1besabUKU/giphy.gif?cid=790b7611248270ee3eabfd3e0cd20af43f56f79f595012b5&rid=giphy.gif&ct=g" alt=""Empty>
    </EmptyTemplate>
    <ListTemplate>
        <table class="table">
            <thead>
            <tr>
                <th class="col-2"></th>
                <th class="col-4">Id</th>
                <th class="col-6">Name</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>
                        <AuthorizeView>
                            <Authorized>
                                <a class="btn btn-success" href="edit-person/@person.Id">Edit</a>
                                <a class="btn btn-danger" @onclick="@(() => RemovePerson(person.Id))">Delete</a>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                    <td>@person.Id</td>
                    <td>@person.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </ListTemplate>
</GenericList>

@* This is to customized the Fragment to show the list of people. *@
@* <GenericList List="people"> *@
@*     <TemplateWithType> *@
@*         <div class="card"> *@
@*             <div class="card-body"> *@
@*                 @context.Name *@
@*             </div> *@
@*         </div> *@
@*     </TemplateWithType> *@
@* </GenericList> *@

<button class="btn btn-outline-info" @onclick="ExportCsv">Export to CSV</button>
<button class="btn btn-outline-info" @onclick="ExportExcel">Export to Excel</button>

@code {
    List<Person>? people { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;

        await LoadPeople();
    }

    async Task LoadPeople()
    {
        people = await Http.GetFromJsonAsync<List<Person>>("people");
    }

    async Task RemovePerson(int idPerson)
    {
        var personSelected = people.First(p => p.Id == idPerson);
        var message = $"Are you sure you want to delete to {personSelected.Name}?";
        if (await JS.Confirm("Confirm", message, IJSExtensions.TypeMessageSweetAlert.question))
        {
            await Http.DeleteAsync($"people/{idPerson}");
            await LoadPeople();
        }
    }

    private async void ExportCsv()
    {
        using (var memoryStream = new MemoryStream())
        {
            using (var writer = new StreamWriter(memoryStream))
            {
                using (var csv = new CsvWriter(writer, CultureInfo.CurrentCulture))
                {
                    await csv.WriteRecordsAsync(people);
                }
                var arr = memoryStream.ToArray();
                await JS.SaveAs("People.csv", arr);
            }
        }
    }

    private async void ExportExcel()
    {
        using (var package = new ExcelPackage())
        {
            var worksheet = package.Workbook.Worksheets.Add("People in DB");

            var tableBody = worksheet.Cells["A1:A1"].LoadFromCollection(
                from p in people
                select new { p.Id, p.Name }, true);

    // Setting some style to cells in Excel
            var header = worksheet.Cells["A1:B1"];
            worksheet.DefaultColWidth = 25;
            tableBody.Style.HorizontalAlignment = ExcelHorizontalAlignment.Center;
            tableBody.Style.Fill.PatternType = ExcelFillStyle.Solid;
            tableBody.Style.Fill.BackgroundColor.SetColor(Color.WhiteSmoke);
            tableBody.Style.Border.BorderAround(ExcelBorderStyle.Medium);

    // Setting style to headers
            header.Style.Font.Bold = true;
            header.Style.Font.Color.SetColor(Color.White);
            header.Style.Fill.PatternType = ExcelFillStyle.Solid;
            header.Style.Fill.BackgroundColor.SetColor(Color.DarkBlue);

            JS.SaveAs("People.xlsx", package.GetAsByteArray());
        }
    }

}